
<% if user_signed_in? %>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Emails</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<br>
  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
<tr>
      <tr>
        <td>
            <%= friend.first_name %>
            <%= friend.last_name %>
          </td>
        <td><%= friend.emails %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= link_to 'Show', friend %></td>
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>

CABRON ESTA ES LA PAGINA DE INICIO

<% end %>